{% extends "hist.html" %}

{% block title %}hist-token{% endblock %}



{% block content %}
<div class="page-header">
  <h2>Tokens</h1>
</div>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="../hist">Home</a></li>
  <li role="presentation" class="active"><a href="#">Tokens</a></li>
  <li role="presentation"><a href="#">Query</a></li>
</ul>

<table id="table"></table>
{% endblock %}

{% block js %}
{{ super() }}
	<script src="../static/js/bootstrap-table.js"></script>
	<script type="text/javascript">
		var jsdoc = {{ tokens|safe }}

		$('#table').bootstrapTable({
				data : jsdoc,
		    cardView: true,
		    showColumns: true,
		    search: true,
		    columns: [
		    {
		        field: 'name',
		        title: 'Usr Name'
		    },
		    {
		        field: 'token_name',
		        title: 'Token Name',
		        switchable: false
		    },
		    {
		        field: 'token_body',
		        title: 'Token Body',
		        formatter: tokenFormatter,
		        switchable: false
		    },
		    {
		        field: 'description',
		        title: 'Description'
		    }
		  ],
		});

		function tokenFormatter(value) {
        return '<span class="value"><a href="/hist">'+value.substring(1)+'</a></span>'
    }
	</script>
{% endblock %}