<!doctype html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>root</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">vn.hist</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">MdApi</a></li>
            <li><a href="#contact">DataGenerator</a></li>
            <li><a href="#about">MongoDB</a></li>
            <li><a href="#contact">Trader</a></li>
            <li><a href="#contact">Module5</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Strategies <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Begin page content -->


    <div class="container">
      <div class="row">
            <ul class="nav nav-tabs">
      <li role="presentation" ><a href="#">SMA14/26</a></li>
      <li role="presentation"><a href="#">MACD</a></li>
      <li role="presentation"><a href="#">zed_PR</a></li>
      <li role="presentation" class="active"><a href="#">SVM_PR</a></li>
      <li role="presentation"><a href="#">coint</a></li>
      <li role="presentation"><a href="#">2ASwing</a></li>
    </ul>
        <div class="col-md-6">


          <table class="table table-striped">
            <thead>
              <tr>
                {% for name in positions_name %}
                <th>{{ name }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for doc in positions %}
              <tr>
                <td>{{ doc.ID }}</td>
                <td>{{ doc.Cost }}</td>
                <td>{{ doc.commission }}</td>
                <td>{{ doc.direction }}</td>
                <td>{{ doc.volume }}</td>
                <td>{{ doc.Rev }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <table class="table table-striped">
            <thead>
              <tr>
                {% for name in data_head %}
                <th>{{ name }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for doc in data_values %}
              <tr>
                {% for d in doc %}
                <td>{{ d }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-md-6">

          <div id="chart_1" style="min-width:600px;height:600px"></div>

          <div id="chart_2" style="min-width:600px;height:300px"></div>
          <div id="chart_3" style="min-width:600px;height:300px"></div>

        </div>
      </div>
    </div>

    
  

    <footer class="footer">
      <div class="container">
        <p class="text-muted">zed, 2015.</p>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script>
    //  var data = {{ data_values|safe }}
    </script>
    <script type="text/javascript">
      $(function () {
            // split the data set into ohlc and volume
            //$.getJSON('http://www.highcharts.com/samples/data/jsonp.php?filename=aapl-ohlcv.json&callback=?', function (data) {
            var data = {{ candle_data|safe }}
            var ohlc = [],
                volume = [],
                dataLength = data.length,
                // set the allowed units for data grouping
                groupingUnits = [[
                    'week',                         // unit name
                    [1]                             // allowed multiples
                ], [
                    'month',
                    [1, 2, 3, 4, 6]
                ]],

                i = 0;

            for (i; i < dataLength; i += 1) {
                ohlc.push([
                    data[i][0], // the date
                    data[i][1], // open
                    data[i][2], // high
                    data[i][3], // low
                    data[i][4] // close
                ]);

                volume.push([
                    data[i][0], // the date
                    data[i][5] // the volume
                ]);
            }


            // create the chart
            $(chart_1).highcharts('StockChart', {

                rangeSelector: {
                    selected: 1
                },

                title: {
                    text: 'IF1509'
                },

                yAxis: [{
                    labels: {
                        align: 'right',
                        x: -3
                    },
                    title: {
                        text: 'OHLC'
                    },
                    height: '60%',
                    lineWidth: 2
                }, {
                    labels: {
                        align: 'right',
                        x: -3
                    },
                    title: {
                        text: 'Volume'
                    },
                    top: '65%',
                    height: '35%',
                    offset: 0,
                    lineWidth: 2
                }],

                series: [{
                    type: 'candlestick',
                    name: 'IF1509',
                    data: ohlc,
                    dataGrouping: {
                        units: groupingUnits
                    }
                }, {
                    type: 'column',
                    name: 'Volume',
                    data: volume,
                    yAxis: 1,
                    dataGrouping: {
                        units: groupingUnits
                    }
                }]
            });
        });
    
  </script>

  <script>
    $(function () {
      var seriesOptions = [],
          seriesCounter = 0,
          names = ['MSFT', 'AAPL', 'GOOG'],
          // create the chart when all data is loaded
          createChart = function () {

              $(chart_2).highcharts('StockChart', {

                  rangeSelector: {
                      selected: 4
                  },

                  title: {
                    text: 'Back Test'
                  },

                  yAxis: {
                      labels: {
                          formatter: function () {
                              return (this.value > 0 ? ' + ' : '') + this.value + '%';
                          }
                      },
                      plotLines: [{
                          value: 0,
                          width: 2,
                          color: 'silver'
                      }]
                  },

                  plotOptions: {
                      series: {
                          compare: 'percent'
                      }
                  },

                  tooltip: {
                      pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
                      valueDecimals: 2
                  },

                  series: seriesOptions
              });
          };

      $.each(names, function (i, name) {

          $.getJSON('http://www.highcharts.com/samples/data/jsonp.php?filename=' + name.toLowerCase() + '-c.json&callback=?',    function (data) {

              seriesOptions[i] = {
                  name: name,
                  data: data
              };

              // As we're loading the data asynchronously, we don't know what order it will arrive. So
              // we keep a counter and create the chart when all the data is loaded.
              seriesCounter += 1;

              if (seriesCounter === names.length) {
                  createChart();
              }
          });
      });
  });
  </script>
  <script type="text/javascript">
  $(function () {
    $.getJSON('http://www.highcharts.com/samples/data/jsonp.php?filename=usdeur.json&callback=?', function (data) {

        // Create the chart
        $(chart_3).highcharts('StockChart', {


            rangeSelector : {
                selected : 0
            },

            title : {
                text : 'Signals'
            },

            tooltip: {
                style: {
                    width: '200px'
                },
                valueDecimals: 4,
                shared : true
            },

            yAxis : {
                title : {
                    text : 'Exchange rate'
                }
            },

            series : [{
                name : 'USD to EUR',
                data : data,
                id : 'dataseries'

            // the event marker flags
            }, {
                type : 'flags',
                data : [{
                    x : Date.UTC(2015, 5, 8),
                    title : 'C',
                    text : 'Stocks fall on Greece, rate concerns; US dollar dips'
                }, {
                    x : Date.UTC(2015, 5, 12),
                    title : 'D',
                    text : 'Zimbabwe ditches \'worthless\' currency for the US dollar '
                }, {
                    x : Date.UTC(2015, 5, 19),
                    title : 'E',
                    text : 'US Dollar Declines Over the Week on Rate Timeline'
                }, {
                    x : Date.UTC(2015, 5, 26),
                    title : 'F',
                    text : 'Greek Negotiations Take Sharp Turn for Worse, US Dollar set to Rally '
                }, {
                    x : Date.UTC(2015, 5, 29),
                    title : 'G',
                    text : 'Euro records stunning reversal against dollar'
                }, {
                    x : Date.UTC(2015, 5, 30),
                    title : 'H',
                    text : 'Surging US dollar curbs global IT spend'
                }],
                onSeries : 'dataseries',
                shape : 'circlepin',
                width : 16
            }]
        });
    });
});
  </script>

  

</body></html>